body {
	background-color:rgb(175, 171, 202);
}

div#nombre {
	background-image: url("../img/bitcoin.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

.iconos {
	min-height: auto;
	max-height: 20px;
	min-width: auto;
	max-width: 20px;
}

.tituloCarousel {
	padding-top: inherit;
	margin-top: 0.3em;
	color: #240f7d;
	font-size: 1.8em;
	font-weight: 900;
	text-shadow: 6px 8px 10px #555;
  }
footer {
	background-image: url("../img/fondo-footer.png");
	background-repeat: no-repeat;
	background-size: cover;
}

