<header>
    <div class="container bg-primary border border-0 rounded-3 mt-2">
        <h2 class="text-warning">¡Invertí en el futuro! Nosotros te acompañamos y cuidamos tus ahorros</h2>
        <p class="text-light">Comprá y vendé tus criptos con facilidad y seguridad</p>
    </div>
</header>
<section class="mt-3">
    <div class="container">
        <div class="row mb-3">
            <div id="nombre" class="col-6 shadow text-light text-end rounded-start rounded-5 p-3">
                <h1 class="mt-2 me-5">Crypto<br>Wallet</h1>
            </div>
            <div class="col-6">
                <form class="border border-4 border-primary shadow rounded-end rounded-5 p-3">
                    <h2>Inicio de Sesión</h2>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" placeholder="name@example.com">
                        <label for="floatingInput">Usuario</label>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" minlength="8" maxlength="20">
                        <label for="floatingPassword">Contraseña</label>
                        <a href="#">Olvidé mi contraseña</a>
                    </div>

                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="d-flex justify-content-between text-light">
            <div class="border border-2 border-white bg-primary shadow rounded-4 flex-fill text-center p-1 m-2">
                <div id="par-cot-1">BTC/USDT</div>
                <div id="val-cot-1">35.000</div>
            </div>
            <div class="border border-2 border-white bg-primary shadow rounded-4 flex-fill text-center p-1 m-2">
                <div id="par-cot-2">AXS/USDT</div>
                <div id="val-cot-2">20,35</div>
            </div>
            <div class="border border-2 border-white bg-primary shadow rounded-4 flex-fill text-center p-1 m-2">
                <div id="par-cot-3">ETH/USDT</div>
                <div id="val-cot-3">1.235</div>
            </div>
            <div class="border border-2 border-white bg-primary shadow rounded-4 flex-fill text-center p-1 m-2">
                <div id="par-cot-4">SOL/USDT</div>
                <div id="val-cot-4">48,35</div>
            </div>
        </div>
    </div>
</section>