footer {
	background-image: url("/assets/Imagenes/fondo-footer.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.iconos {
	min-height: auto;
	max-height: 20px;
	min-width: auto;
	max-width: 20px;
}