/* body {
	background-color:rgb(175, 171, 202);
} */

div#nombre {
	background-image: url("/assets/Imagenes/bitcoin.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

.iconos {
	min-height: auto;
	max-height: 20px;
	min-width: auto;
	max-width: 20px;
}

.espacio{
    margin-bottom: 11em;
}