a{text-decoration: none;}
.tituloCarousel {
	padding-top: inherit;
	margin-top: 0.3em;
	color: #240f7d;
	font-size: 1.8em;
	font-weight: 800;
	text-shadow: 5px 7px 8px #555;
  }
  .tituloCarouselTendance,#cryptoland,#cyberLand{
	padding-top: inherit;
	margin-top: 0.3em;
	color: #97dbfa;
	font-size: 1.8em;
	font-weight: 800;
	text-shadow: 5px 7px 8px rgb(236, 168, 168);
  }
  .tituloprincipal{
	padding-top: inherit;
	margin-top: 0.3em;
	color: #000000;
	font-size: 2.1em;
	font-weight: 700;
	text-shadow: 6px 8px 10px rgb(173, 116, 116);
  }
  .subtitulo{
	padding-top: inherit;
	margin-top: 0.3em;
	color: #000000;
	font-size: 1.8em;
	font-weight: 500;
	text-shadow: 6px 8px 10px rgb(173, 116, 116);
  }
  .redondeoboton {
	border-radius: 1em;
  }
  #emailHelp{color: rgb(241, 219, 219);}
.degrade{
	border-end-end-radius: 8em;
	border-start-start-radius: 8em;
	background-color: #813a0f;
background-image: linear-gradient(60deg, #813a0f 0%, #fde099 70%);
}
.degrade2{
	border-end-start-radius: 8em;
	border-start-end-radius: 8em;
	background-color: #813a0f;
background-image: linear-gradient(60deg, #813a0f 0%, #fde099 70%);
}
.degrade3{
	border-start-end-radius: 20em;
	border-start-start-radius: 20em;
	background-color: #83fdee;
background-image: linear-gradient(180deg, #83fdee 0%, #d770d8 100%);

}
