table.subTable tr {
    background-color: transparent;
  }

  thead {
      font-weight: bold;
      
}
.tituloFormulario {
    color: #240f7d;
    font-size: 3em;
    font-weight: 900;
    text-shadow: 6px 8px 10px #555;
  }
  