USE [master]
GO
/****** Object:  Database [WALLET]    Script Date: 09/10/2022 7:53:41 ******/
CREATE DATABASE [WALLET]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WALLET', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\WALLET.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WALLET_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\WALLET_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WALLET].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WALLET]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 09/10/2022 7:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 09/10/2022 7:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERSONA](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Apellido] [varchar](150) NULL,
	[Telefono] [varchar](50) NULL,
	[Cuil] [varchar](16) NULL,
	[Mail] [varchar](100) NULL,
	[Domicilio] [varchar](100) NULL,
	[Altura] [varchar](5) NULL,
	[FechaNac] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 09/10/2022 7:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUser] [varchar](100) NULL,
	[Contrasenia] [varchar](100) NULL,
	[IdPersona] [int] NULL,
	[BHabilitado] [int] NULL,
	[IsAdmin] [bit] NULL,
	[FechaAlta] [datetime] NULL DEFAULT (getdate()),
	[FechaBaja] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONA] ON 

INSERT [dbo].[PERSONA] ([IdPersona], [Nombre], [Apellido], [Telefono], [Cuil], [Mail], [Domicilio], [Altura], [FechaNac]) VALUES (1, N'Marcos', N'Galperin', NULL, N'20224323116', N'pobreMarcos@gmail.com', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PERSONA] OFF
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([IdUsuario], [NombreUser], [Contrasenia], [IdPersona], [BHabilitado], [IsAdmin], [FechaAlta], [FechaBaja]) VALUES (1, N'mercader', N'D835BDFF7991A7733561A7AA41ABEFC7C30DB236456E451969D496B31C0D830D', 1, NULL, 1, CAST(N'2022-10-08 08:49:50.463' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__PERSONA__2724B2D1375F4DCD]    Script Date: 09/10/2022 7:53:41 ******/
ALTER TABLE [dbo].[PERSONA] ADD UNIQUE NONCLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([IdPersona])
REFERENCES [dbo].[PERSONA] ([IdPersona])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
USE [master]
GO
