USE [master]
GO
/****** Object:  Database [WALLET]    Script Date: 18/10/2022 16:43:58 ******/
CREATE DATABASE [WALLET]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WALLET', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\WALLET.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WALLET_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\WALLET_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WALLET].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WALLET]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 18/10/2022 16:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CRIPTOMONEDA]    Script Date: 18/10/2022 16:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CRIPTOMONEDA](
	[IdCriptomoneda] [int] IDENTITY(1,1) NOT NULL,
	[BHabilitado] [int] NULL,
	[Nombre] [varchar](150) NULL,
	[Precio] [decimal](7, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCriptomoneda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CUENTA]    Script Date: 18/10/2022 16:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTA](
	[IdCuenta] [int] IDENTITY(1,1) NOT NULL,
	[BHabilitado] [int] NULL,
	[Saldo] [decimal](7, 6) NULL,
	[Balance] [decimal](7, 6) NULL,
	[FechaAlta] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OPERACION]    Script Date: 18/10/2022 16:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPERACION](
	[IdOperacion] [int] IDENTITY(1,1) NOT NULL,
	[TipoOperacion] [int] NOT NULL,
	[IdCuentaOrigen] [int] NOT NULL,
	[IdCuentaDestino] [int] NOT NULL,
	[CantidadDeCrypto] [decimal](7, 6) NULL,
	[FechaOperacion] [datetime] NULL,
	[Importe] [decimal](7, 6) NULL,
	[IdCriptomoneda] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOperacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 18/10/2022 16:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERSONA](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NULL,
	[Apellido] [varchar](150) NULL,
	[Telefono] [varchar](50) NULL,
	[Cuil] [varchar](16) NULL,
	[Mail] [varchar](100) NULL,
	[Domicilio] [varchar](100) NULL,
	[Altura] [varchar](5) NULL,
	[FechaNac] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIPO_OPERACION]    Script Date: 18/10/2022 16:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_OPERACION](
	[IdTipoOperacion] [int] IDENTITY(1,1) NOT NULL,
	[BHabilitado] [int] NULL,
	[Nombre] [varchar](200) NULL,
	[Descripcion] [varchar](200) NULL,
	[FechaAlta] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoOperacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 18/10/2022 16:43:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUser] [varchar](100) NULL,
	[Contrasenia] [varchar](100) NULL,
	[IdPersona] [int] NULL,
	[BHabilitado] [int] NULL,
	[Mail] [varchar](200) NULL,
	[IsAdmin] [bit] NULL,
	[FechaAlta] [datetime] NULL DEFAULT (getdate()),
	[FechaBaja] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONA] ON 

INSERT [dbo].[PERSONA] ([IdPersona], [Nombre], [Apellido], [Telefono], [Cuil], [Mail], [Domicilio], [Altura], [FechaNac]) VALUES (1, N'Marcos', N'Galperin', NULL, N'20224323116', N'pobreMarcos@gmail.com', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[PERSONA] OFF
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([IdUsuario], [NombreUser], [Contrasenia], [IdPersona], [BHabilitado], [Mail], [IsAdmin], [FechaAlta], [FechaBaja]) VALUES (1, N'mercader', N'D835BDFF7991A7733561A7AA41ABEFC7C30DB236456E451969D496B31C0D830D', 1, NULL, N'pobremarcos@gmail.com', 1, CAST(N'2022-10-13 08:30:35.810' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__PERSONA__2724B2D1375F4DCD]    Script Date: 18/10/2022 16:43:58 ******/
ALTER TABLE [dbo].[PERSONA] ADD UNIQUE NONCLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__USUARIO__2724B2D1D4DB04D5]    Script Date: 18/10/2022 16:43:58 ******/
ALTER TABLE [dbo].[USUARIO] ADD UNIQUE NONCLUSTERED 
(
	[Mail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUENTA] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[OPERACION] ADD  DEFAULT (getdate()) FOR [FechaOperacion]
GO
ALTER TABLE [dbo].[TIPO_OPERACION] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[OPERACION]  WITH CHECK ADD  CONSTRAINT [FK_IdCuentaDestino] FOREIGN KEY([IdCuentaDestino])
REFERENCES [dbo].[CUENTA] ([IdCuenta])
GO
ALTER TABLE [dbo].[OPERACION] CHECK CONSTRAINT [FK_IdCuentaDestino]
GO
ALTER TABLE [dbo].[OPERACION]  WITH CHECK ADD  CONSTRAINT [FK_IdCuentaOrigen] FOREIGN KEY([IdCuentaOrigen])
REFERENCES [dbo].[CUENTA] ([IdCuenta])
GO
ALTER TABLE [dbo].[OPERACION] CHECK CONSTRAINT [FK_IdCuentaOrigen]
GO
ALTER TABLE [dbo].[OPERACION]  WITH CHECK ADD  CONSTRAINT [FK_TipoOperacion] FOREIGN KEY([TipoOperacion])
REFERENCES [dbo].[TIPO_OPERACION] ([IdTipoOperacion])
GO
ALTER TABLE [dbo].[OPERACION] CHECK CONSTRAINT [FK_TipoOperacion]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([IdPersona])
REFERENCES [dbo].[PERSONA] ([IdPersona])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
USE [master]
GO
