
<section class="mt-3 pb-5">
    <div class="container">
<div class="p-1 col-md-10 ">
    <div class="row ">
        <div class="col-xl-3 col-lg-6">
            <table class="table table-blue">
                <thead>
                  <tr>
                    <th scope="col">Cuenta</th>
                    <th scope="col">Saldo</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Crypto</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cuen of cuenta">
                    <th scope="row">{{cuen.IdCuenta}}</th>
                    <td>{{ cuen.Tenencia }}</td>
                    <td>{{ cuen.Balance }}</td>
                    <td>{{ cuen.IdCriptomoneda }}</td>
                  </tr>
                </tbody>
              </table>
                    
                </div>
            
            </div>
    
        </div>
    </div>
</section>